# Exclude development-specific files
.vscode/**
.vscode-test/**

# Ignore source files
src/**

# Ignore config and test files
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

# Ignore output folders and files
out/
!out/extension.js
node_modules/
.git/
!images/AutoPilot.png