.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode/
.git/
node_modules/
out/           # If you're compiling your TS files into an out folder
src/test/
.vscode/
